.card {
    width: 325px;
    height: 328px;
    position: relative;
    padding: 0;
    border-radius: 32px;
    background-color: #f3f3f3;
    box-shadow: 0 0 0 1px #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: repeat(4, 325px);
    justify-content: space-between;
  }

  .card__header {
    position: absolute;
    top: 12px;
    left: 0;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 8px;
    align-items: center;
  }

  .card__like-button {
    width: 18px;
    height: 15px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-image: url("../../assets/heart_Icon/heart.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 15px;
    cursor: pointer;
    flex-shrink: 0;
  }


  .card__like-button_active {
    background-image: url("../../assets/like_heart/like_heart.svg");
  }

  /* main clothing image */
  .card__image {
    width: 323px;
    height: 100%;
    top: 279px;
    left: 40px;
    border-radius: 19px;
  }
  
  /* title + like icon row at the top */
  .card__title-and-like {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
  }
  
  .card__name {
    font-weight: 600;
    font-size: 16px;
    padding: 2px 12px;
    background-color: #fff;
    border-radius: 4px;
  }
  