.card {
  width: 325px;
  height: 328px;
  position: relative;
  padding: 0;
  border-radius: 32px;
  background-color: #f3f3f3;
  box-shadow: 0 0 0 1px #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-template-columns: repeat(4, 325px);
  justify-content: space-between;
}

/* main clothing image */
.card__image {
  width: 323px;
  height: 100%;
  top: 279px;
  left: 40px;
  border-radius: 19px;
}

/* title + like icon row at the top */
.card__title-and-like {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.card__name {
  font-weight: 600;
  position: absolute;
  font-size: 16px;
}
