.modal {
  display: flex;
  flex-direction: column;
}

.modal__content_type_image {
  max-width: 498px;
  max-height: 610px;
  margin-top: 120px;
  width: 100%;
  border-radius: 20px;
  background-color: #d9d9d9;
  padding: 0;
}

.modal__image {
  max-width: 498px;
  max-height: 498px;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__caption {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 32px 32px;
  background: white;
  border-radius: 0 0 16px 16px;
}

.modal__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__close_type_image {
  background-image: url("../../assets/Close2.svg");
}

.modal__delete-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: #ff4d00;
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    cursor: pointer;
}
